<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="mb-4 text-right">
    <%= link_to 'New Shift', new_shift_path, class: "px-4 py-2 font-medium mt-8 text-white bg-blue-600 rounded-md hover:bg-blue-700" %>
  </div>
  
  <% @shifts.each do |shift| %>
    <div class="mb-8">
      <h2 class="text-xl font-bold mb-2">
        <%= shift.date.strftime('%A, %B %d') %> - <%= shift.time_of_day&.titleize %>
      </h2>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Walker</th>
              <th scope="col" class="px-6 py-3">Assigned Dogs</th>
            </tr>
          </thead>
          <tbody>
            <% shift.dog_schedules.group_by(&:walker).each do |walker, schedules| %>
              <tr class="bg-white dark:bg-gray-800 border-b dark:border-gray-700">
                <td class="px-6 py-4 font-medium">
                  <%= walker.name %>
                </td>
                <td class="px-6 py-4">
                  <%= schedules.map { |schedule| schedule.dog.name }.join(', ') %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="mt-2 text-right">
        <%= link_to 'Edit Shift', edit_shift_path(shift), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
      </div>
    </div>
  <% end %>
</div>
