<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Date</th>
        <th scope="col" class="px-6 py-3">Time of Day</th>
        <th scope="col" class="px-6 py-3">Walkers</th>
        <th scope="col" class="px-6 py-3">Dogs</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @shifts.each do |shift| %>
        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= shift.date.strftime('%A, %B %d') %>
          </th>
          <td class="px-6 py-4">
            <%= shift.time_of_day.titleize %>
          </td>
          <td class="px-6 py-4">
            <%= shift.walkers.map(&:name).join(', ') %>
          </td>
          <td class="px-6 py-4">
            <%= shift.dogs.map(&:name).join(', ') %>
          </td>
          <td class="px-6 py-4">
            <%= link_to 'Edit', edit_shift_path(shift), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
