<!DOCTYPE html>
<html>
  <head>
    <title>PawPilot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex">
    <% if user_signed_in? %>
      <% if current_user.manager? %>
        <%= render 'layouts/sidebar' %>
      <% end %>
      <div class="flex flex-col flex-grow">
        <%= render 'layouts/navbar' %>
        <main class="flex-grow p-4">
          <%= yield %>
        </main>
      </div>
    <% else %>
      <main class="w-full p-4">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
