<!DOCTYPE html>
<html>
  <head>
    <title>PawPilot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <% if user_signed_in? %>
        <%= render 'layouts/navbar' %>
        <% if current_user.manager? || current_user.dog_walker? %>
          <%= render 'layouts/sidebar' %>
        <% end %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
